.main_home{overflow-x: hidden;background: #fff;margin-bottom: 100px;}
/*二级标题*/
.headline{width: 1180px;height: 54px;line-height: 54px;margin: 0 auto;background: #0EB1FF;border-radius: 30px;margin-top: 24px;color: #fff;}
.headline span{margin-left: 50px;margin-right: 20px;}
.headline en{margin-left: 20px;}
/*二级标题结束*/

/*个人中心*/
.personal_information{width: 1180px;margin: 0 auto;margin-top: 24px;}
 .left_option{width: 150px;height: 665px;border: 1px solid #ccc;float: left;}
 .left_option .After_landing{margin: 20px 35px;}
 .left_option p{color: #999999;font-size: 12px;text-align: center;}
 .left_option p img{margin: 0 auto;margin-top: 38px;margin-bottom: 10px;}
 .left_option p a{color: #999999;font-size: 16px;}
 .left_option p a:hover, .left_option p a:focus{color: #0EB1FF;}
 .left_option p.a1{margin-top: 32px;}
 .left_option p.a2, .left_option p.a3, .left_option p.a4{margin-top: 20px;}
.personal_information .right_information{width: 1000px;height: 515px;border: 1px solid #ccc;float: right;}
.personal_information .right_information .top{width: 100%;height: 72px;line-height: 72px;background: #f5f5f5;}
.personal_information .right_information .top span{color: #999999;font-size: 20px;margin: 0px 30px;}
.personal_information .right_information .top a{font-size: 16px;color: #0EB1FF;}
.personal_information .right_information .ri_l{float: left;}
.personal_information .right_information .ri_l p{margin-top: 20px;margin-left: 104px;color: #999999;height: 30px;}
/*账户密码*/
.personal_information .right_information .ri_l p input{border: 1px solid #ccc;background: #f6f6f6;height: 30px;
  width: 200px;
  padding-left: 5px;}
.personal_information .right_information .ri_l p.ri_l_1{margin-left: 120px;}
.personal_information .right_information .ri_l p input:hover{border: 1px solid #00b4ff;}
.personal_information .right_information .ri_l p a{color: #FF0000;font-size: 13px;}
.personal_information .right_information .ri_l p span{color: #FF0000;}
.personal_information .right_information .ri_l p button{background: #00b4ff;color: #fff;/*padding: 7px 32px;*/margin-left: 16px;cursor: pointer;width:96px;height:35px;line-height: 35px;text-align: center;}
.personal_information .right_information .ri_l p button:first-child{margin-left: 90px;}
.personal_information .right_information .ri_r{display: none;}
.personal_information .right_information .ri_r p{margin-top: 18px;margin-left: 35px;color: #999999;}
.personal_information .right_information .ri_r p input{border: 1px solid #CCCCCC;background: #f6f6f6;}
.personal_information .right_information .ri_r p textarea{border: 1px solid #CCCCCC;background: #f6f6f6;padding: 5px;}
.personal_information .right_information .ri_r p a{background: #0EB1FF;color: #FFF;padding: 5px 10px;margin-left: 60px;}
.personal_information .right_information .ri_r p en{color: #FF0000;font-size: 13px;}
.personal_information .hint{border: 1px solid #ccc;float: right;width: 1000px;height: 130px;margin-top: 20px;}
.personal_information .hint p{font-size: 13px;margin-left: 20px;color: #8F8F8F;}
.personal_information .hint p:first-child{font-size: 16px;margin-bottom: 5px;margin-top: 20px;}
.personal_information .hint p en{color: #0EB1FF;}

/*订单信息*/
.personal_information .message{width: 1000px;float: right;margin-top: 30px;}
.personal_information .message ul{border-bottom: 1px solid #999999;height: 34px;float: left;}
.personal_information .message ul li{display: inline;cursor: pointer;padding: 7px 3px;color: #999999;font-size: 18px;}
.personal_information .message ul li:hover,.personal_information .message ul li:focus{color: #0EB1FF;border-bottom: 2px solid #0EB1FF;}
.personal_information .message .choose_date{margin-top: 3px;hanging-punctuation: 30px;float: left;margin-left: 15px;}
.personal_information .message .choose_date select{border: 1px solid #ccc;width: 80px;height: 30px;float: left;}
.personal_information .message .choose_date input{border: 1px solid #ccc;width: 280px;+width:250px;float: right;height: 30px;padding-left: 5px;float: right;}
.personal_information .message .choose_date button{background: #0EB1FF;color: #fff;padding: 0 10px;border-radius: 5px;float: right;margin-left: 10px;cursor: pointer;height: 30px;width:52px;text-align: center;line-height: 30px;}
.personal_information table{width: 1000px;min-width: 1000px;margin-bottom: 0;float: right;margin-top: 20px;border-collapse:collapse;}
.personal_information table thead{background: #0EB1FF;color: #fff;}
.personal_information table > tbody > tr > td,.personal_information table > thead > tr > th{border: none;text-align:center;padding: 3px 12px;line-height: 32px;}
.personal_information table > tbody > tr > td{border: 1px solid #F0F0F0;color: #999999;font-size: 13px;}
.personal_information table > tbody > tr > td a{color: #0EB1FF;}
.personal_information table > tbody > tr > td span{color: #FF9933;}
.personal_information table > tbody > tr > td button{background: #FF9933;color: #fff;padding: 1px 3px;cursor: pointer;width:38px;height:23px;line-height:23px;text-align: center;margin-top: 10px;}
.personal_information table > tbody > tr > td img{width: 162px;height: 91px;margin: 0 auto;}
/*个人中心结束*/

/*主体大背景*/
.important{width: 100%;height: 574px;background: url(../images/login_bg.jpg) no-repeat center;position: relative;}
/*登录表单*/
#login .important form{width: 430px;height: 423px;background: #f0f0f0;border-radius: 5px;position: absolute;top: 125px;left: 50%;margin-left: 92px;}
#login .important form .form_word{width: 302px;margin: 0 auto;margin-top: 62px;border-bottom: 1px dashed #8F8F8F;height: 30px;line-height: 30px;}
#login .important form .form_word img{width: 22px;height: 20px;display: inline-block;}
#login .important form .form_word span{font-size: 18px;color: #8f8f8f;}
#login .important form .form_word en{font-size: 14px;color: #8f8f8f;float: right;}
#login .important form .form_word a{font-size: 14px;color: #0eb1ff;margin-left: 5px;}
#login .important form input.a,.important form input.b{width: 100%;height: 39px;margin-top: 25px;border-radius: 5px;line-height: 39px;
-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.5);
-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.5);
box-shadow:inset 0 1px 2px rgba(0,0,0,0.5);}
#login .important form input.s{width: 165px;height: 39px;margin-top: 25px;border-radius: 5px;border-radius: 5px;
-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.5);
-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.5);
box-shadow:inset 0 1px 2px rgba(0,0,0,0.5);}
#login .important form input.d{width: 123px;background: #0EB1FF;height: 39px;border-radius: 5px;float: right;+float:none;margin-top: 25px;cursor: pointer;color: #fff;}
#login .important form input.submit{width: 100%;height: 39px;margin-top: 25px;border-radius: 5px;-webkit-border-radius:5px;-moz-border-radius:5px;border:none;background: #0EB1FF;cursor: pointer;color: #fff;}

/*注册表单*/
#register .important form{width: 430px;height: 500px;background: #f0f0f0;border-radius: 5px;position: absolute;top: 40px;left: 50%;margin-left: 92px;}
#register .important form .form_word{width: 302px;margin: 0 auto;margin-top: 30px;border-bottom: 1px dashed #8F8F8F;height: 30px;line-height: 30px;}
#register .important form .form_word img{width: 22px;height: 19px;display: inline-block;}
#register .important form .form_word span{font-size: 20px;color: #8f8f8f;}
#register .important form .form_word en{font-size: 14px;color: #8f8f8f;float: right;}
#register .important form .form_word a{font-size: 14px;color: #0eb1ff;margin-left: 5px;} 
#register .important form .form_word .required{width: 100%;height: 70px;position: relative; }
#register .important form .form_word .required_1{margin-top: 25px;}
#register .important form .form_word .required span{color: #ff0000;height: 39px;}
#register .important form .form_word .required input{width: 288px;+width:270px;height: 39px;line-height:39px;border-radius: 5px;
-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.5);
-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.5);
box-shadow:inset 0 1px 2px rgba(0,0,0,0.5);
padding-left: 10px;border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box;}
#register .important form .form_word .required em{font-family: "宋体";font-size: 12px;color: #FF0000;float: left;margin-left: 20px;}
#register .important form .form_word .required input.y{width: 166px;+width:150px;}
#register .important form .form_word .required input.d{width: 116px;background: #0EB1FF;color: #fff;cursor: pointer;}
#register .important form .form_word .required input.d.on{background: #ccc;}
#register .important form .form_word .required input.submit_zc{border:none;width: 100%;background: #0EB1FF;color: #fff;cursor: pointer;}
#register .important form .form_word img#passWordImg{
  position: absolute;
  top: 13px;
  right: 10px;
  width: 22px;
  height: 12px;
}
/*登录表单结束*/

/*我的足迹*/
.Top{ height: 66px;width: 100%; line-height: 66px;background: #fff; }
.Top .Xtop{ width: 1180px; margin: 0 auto;}
.Top .Xtop ul{ width: 1180px;margin: 0 auto;}
.Top .Xtop ul li:first-child{ font-size: 20px;color: #00a8ff;}
.Top .Xtop ul li{ float: left;}
.Top .Xtop ul li a{ color: #666; padding: 0 20px;float: left;font-size: 16px;}
.Top .Xtop ul li a:hover{ color: #f93;}
.Top .Xtop ul li span{ height: 18px;width: 1px;background: #666;display: inline-block;float: left; margin-top: 25px;} 
  .Top .Xtop .srk_user{margin-top: 18px;margin-left: 50px;}
.Top .Xtop .srk_user input{border: 1px solid #c9c9c9; width: 248px;float: left;border-radius: 9px;}
.Top .Xtop .srk_user a{float: left; background: #0eb1ff;width: 60px;height: 30px;display: block; font-size: 12px;color: #fff;text-align: center;line-height: 30px;border-left: 1px solid #c9c9c9;border-radius: 9px;-webkit-border-radius: 9px;-moz-border-radius: 9px;-ms-border-radius: 9px;margin-left: 5px;}
.Top .Xtop .del_more{ width: 100px; height: 30px;line-height: 30px;text-align: center;margin-top: 15px;} 
.Top .Xtop .del_more a{color: #32323a;background: #d2d2d2;width: 100%;}
.Top .Xtop .del_more a:hover{background: #66ccff;color: #fff;}
.main_b{width: 1180px;margin: 0 auto;padding-left: 120px;position: relative;}
.main_b .p_line{ width: 2px;background: #ccc;top: 60px;left: 50px;position: absolute;bottom: 0;}
.main_b .p_line span{
display: block;
				height: 0;
				width: 2px;
				background: #209ef6;
				overflow: hidden;}
.main_b .p_line i{position: absolute;top: -41px;left: -13px;background: url(../images/position.png) no-repeat center;width: 28px;height: 42px;}			
.main_b .con_l{ width: 1120px;margin: 0 auto; overflow: hidden;}
.main_b .con_l .line_mask{ width: 16px; height: 100%;background: #f7f7f7;left: 0;position: relative;}
.main_b .con_l ul li {width: 240px;height: 400px;margin-right: 30px;float: left;}
.main_b .con_l ul li .deta{ height: 85px;line-height: 85px; color: #32323a;position: relative;top: 10px;}
.main_b .con_l ul li .deta span{position: relative;z-index: 1; background: #fff;padding-left: 16px;left: -10px;+left:-30px;}
.main_b .con_l ul li .deta a{color: #666;height: 60px;line-height: 60px;width: 45px;text-align: center;}
.main_b .con_l ul li .deta a:hover{color: #f93;}
.main_b .con_l ul li .deta span .month_lite,.day_lite{font-size: 26px;font-weight: bold;}
.main_b .con_l ul li .deta s.line{ background: #0eb1ff none repeat scroll 0 0;height: 1px;line-height: 1px;position: absolute;right: 0;top: 40px;width: 270px;}
.main_b .con_l ul li .XQ{ background: #fff; height: 315px;width: 240px; border: 1px solid #e0e0e0;}
.main_b .con_l ul li .XQ:hover{border-color: #0eb1ff;}
.main_b .con_l ul li .XQ .X_top{width: 224px;height: 154px;position: relative;}
.main_b .con_l ul li .XQ .X_top .pice{width: 100%;height: 100%;margin: 8px;overflow: hidden;position: relative;}
.main_b .con_l ul li .XQ .X_top .pice img:hover{transform:scale(1.4) ;-webkit-transform:scale(1.4);-moz-transform:scale(1.4);-o-transform:scale(1.4);transition: all 1s ease-in-out; }
.main_b .con_l ul li .XQ .X_top .pice span{position: absolute;left: 0;bottom: 0;border-radius: 100%;overflow: hidden;width: 55px;height: 55px;}
.main_b .con_l ul li .XQ .X_top .del{background: rgba(0,0,0,0.6); opacity: 1; width: 25px;height: 25px; position: absolute;top: 5px;right: -10px;z-index: 1; display: none;border-radius: 100%;}
.main_b .con_l ul li .XQ .X_top .del i{ background: url(../images/del.png) no-repeat center; background-size:  14px 13px; width: 25px;height: 25px;position: absolute;top: 0;right: 0;z-index: 2;}
.main_b .con_l ul li .XQ .X_top:hover .del{display: block;}
.main_b .con_l ul li .XQ .X_fot .fot_t {border-bottom: 1px solid #c9c9c9;padding-bottom: 8px;text-align: center;color: #666;}
.main_b .con_l ul li .XQ .X_fot .fot_t a{ color:#666; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.main_b .con_l ul li .XQ .X_fot .fot_t a:first-child{font-size: 16px;margin-top: 15px;}
.main_b .con_l ul li .XQ .X_fot .fot_t p{ padding: 6px 10px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.main_b .con_l ul li .XQ .X_fot .fot_d p{ height: 53px;line-height: 53px;color: #a5a5a5;font-size: 12px;margin-left: 10px;float: left;}
.main_b .con_l ul li .XQ .X_fot .fot_d p em{ line-height: 53px;}
.main_b .con_l ul li .XQ .X_fot .fot_d p span{ color: #94af00; font-size: 22px}
.main_b .con_l ul li .XQ .X_fot .fot_d p span b{ font-size: 12px}
.main_b .con_l ul li .XQ .X_fot .fot_d .check{ float: left;height: 24px;}
.main_b .con_l ul li .XQ .X_fot .fot_d .check span{ font-size: 20px;color: #464646;}
.main_b .con_l ul li .XQ .X_fot .fot_d .check span b{ font-size: 10px;}
.main_b .con_l ul li .XQ .X_fot .fot_d a{ float: right; width: 85px;height: 24px;color:#666;  border: 1px solid #d2d2d2; text-align: center;line-height: 24px;margin: 15px 10px 0 0;}
.main_b .con_l ul li .XQ .X_fot .fot_d a:hover{color: #fff;background: #66ccff;border: none;}
.main_b .con_l .dow {padding-top: 35px;font-size: 14px;}
.main_b .con_l .dow p{padding: 35px 0;border-top: 1px solid #c9c9c9; text-align: center;}
/*底部6大优势*/
.introduction{width: 100%;height: 315px;border-top: 1px solid #ffde90;}
.introduction .introduction_x{width: 1180px;margin: 0 auto;}
.introduction .introduction_x img{width: 1180px;height: 180px;margin: 0 auto;margin-top: 64px;}
/*底部6大优势结束*/


/*濉啓璁㈠崟淇℃伅鏍峰紡*/

/*nav鏍峰紡*/
.scl_write_order{ width:100%;  padding-bottom:75px;  background-color:#f6f6f6;  }
.scl_write_order .scl_order_nav{  width:1180px;  height:170px;  margin:0 auto;  }
.scl_write_order .scl_order_nav ul{  width:1176px;  height:100%;  margin:0 2px;  }
.scl_write_order .scl_order_nav li{  width:392px;  height:100%;  float:left;  position:relative;  cursor:pointer;  }
.scl_write_order .scl_order_nav li .scl_order_line{  width:100%;  height:2px;  background-color:#ccc;  position:absolute;  top:50%;  }
.scl_write_order .scl_order_nav li span{  width:20px;  height:20px;  display:inline-block;  background-color:#ccc;  border-radius: 50%;  position:absolute;  top:50%;  left:50%;  margin-top:-10px;  margin-left:-10px;  }
.scl_write_order .scl_order_nav li .scl_order_warning{  text-align: center;  margin-top: 100px;  font-size: 20px;  }

/*nav婵�娲绘椂鏍峰紡*/
.scl_write_order .scl_order_nav li.order_active .scl_order_line{  background-color:#0eb1ff;  }
.scl_write_order .scl_order_nav li.order_active span{  background-color:#0eb1ff;  }
.scl_write_order .scl_order_nav li.order_active .scl_order_warning{  color:#0eb1ff;  }

/*濉啓璁㈠崟鏍峰紡*/
.scl_write_order .scl_order_content{  width:1180px;  margin:0 auto; }
/*濉啓璁㈠崟鏍囬鏍峰紡*/
.scl_write_order .scl_order_content .scl_order_title{  height:65px;  background-color:#0eb1ff;  }
.scl_write_order .scl_order_title p{  color:#fff;  font-size: 30px;  line-height: 65px;  margin-left:15px;  }
/*濉啓璁㈠崟涓昏鍐呭鏍峰紡*/
.scl_write_order .scl_order_content ul li{  width:100%;  height:auto;  border-bottom:1px solid #0eb1ff;  background-color:#fff;  }
.scl_write_order .scl_order_content ul li p{  height:70px;  padding-left:135px;  font-size: 20px;  line-height:70px;  border-bottom:1px dashed #0eb1ff;  }
.scl_write_order .scl_order_content ul li p.scl_line_news{  /*width:1150px;*/  margin:0 15px;  padding-left:120px;  }
.scl_write_order .scl_order_content .scl_order_news{  margin-left:135px;  padding:20px 0;  width:900px;  }
.scl_write_order .scl_order_content .scl_order_news li{  border:none;  }
.scl_write_order .scl_order_content .scl_order_news li p{  height:auto;  font-size:16px;  color:#666;  line-height: 30px;  padding:0;  border:none;  }
.scl_write_order .scl_order_content .scl_order_news li p .scl_add_delete{  display:inline-block;  width:120px;  height:35px;  border:1px solid #ccc  }
.scl_write_order .scl_order_content .scl_add_delete .decrease,.scl_write_order .scl_order_content .scl_add_delete .increase{  width:30px;  height:100%;  border-right:1px solid #ccc;  text-align: center;  font-size: 16px;  color:#666;  }
.scl_write_order .scl_order_content .scl_add_delete .increase{  border-left:1px solid #ccc;  border-right:none;  }
.scl_write_order .scl_order_content .scl_order_news input{  width:50px;  height:32px;  border:none;  padding:0;  text-align: center;  }
.scl_write_order .scl_order_content .scl_order_news p i{  margin-left:50px;  font-size: 16px;  color:#666;  padding:5px 15px;  }
.scl_write_order .scl_order_content .scl_news_safe p i{  border:1px solid #ccc;  }
.scl_write_order .scl_order_content .scl_order_news .scl_child{  margin-top:25px;  }
.scl_write_order .scl_order_content .scl_connection_news li p{  line-height:70px;  }
.scl_write_order .scl_order_content .scl_connection_news li p i{  margin:0;  color:#f00;  }
.scl_write_order .scl_order_content .scl_connection_news li p input{  width:390px;  height:45px;  border:1px solid #ccc;  text-align: left;  color:#666;  padding-left:10px;line-height:45px;  }
.scl_write_order .scl_order_content .scl_connection_news li p input:focus{  border:1px solid #ff6d2d;  }
.scl_write_order .scl_order_content .scl_connection_news li.scl_safe{  height:40px;  }
.scl_write_order .scl_order_content .scl_connection_news li label{  width:100px;  float:right;  margin-right:400px;  position:relative;  cursor: pointer;  }
.scl_write_order .scl_order_content .scl_connection_news li label input{  width:auto;  position:absolute;  left:0;  top:5px;  }
.scl_write_order .scl_order_content .scl_connection_news li label span{  position:absolute;  width:auto; left:20px;  top:10px;  }
.scl_write_order .scl_order_content .scl_travel_news,.scl_write_order .scl_order_content .scl_travel_news .scl_order_news:last-child{  border-bottom:none;  }
.scl_write_order .scl_order_content .scl_travel_news .scl_order_news{  border-bottom:1px dashed #ccc;  }

/*鍘绘敮浠樻爮鏍峰紡*/
.scl_write_order .scl_order_pay{  width:1180px;  height:96px;  margin:0 auto;  background-color:#ebebeb;  position: relative;  }
.scl_write_order .scl_order_pay p{  font-size: 30px;  display:inline-block;  position:absolute;  top:28px;  right:250px;  }
.scl_write_order .scl_order_pay p span{  font-size: 30px;  color:#ff6d2d;  }
.scl_write_order .scl_order_pay  a{  display:inline-block;  width:160px;  height:40px;  background-color:#ff6d2d;  color:#fff;  text-align: center;  border-radius: 10px;  font-size: 20px;  line-height: 40px;  position:absolute;  right:60px;  top:28px;  }

/*璁㈠崟淇℃伅鏍峰紡*/
#order_news .scl_write_order .scl_order_content ul li{  border-bottom:none;  background:none;  }

/*閫夋嫨閾惰鏍峰紡*/
#order_news .scl_write_order .scl_order_content .scl_choose_bank p{  border-bottom:none;  }
#order_news .scl_write_order .scl_order_content .scl_choose_bank form{  width:920px;  height:395px;  margin-left:135px;  border:1px solid #ccc;  overflow: auto;  }
#order_news .scl_write_order .scl_order_content .scl_choose_bank form label{  width:200px;  height:35px;  margin:30px 0 0 20px;  display:inline-block;  position:relative;  cursor: pointer;  }
#order_news .scl_write_order .scl_order_content .scl_choose_bank label input{  width:auto;  display:inline-block;  position:absolute;  top:10px;  }
#order_news .scl_write_order .scl_order_content .scl_choose_bank label img{  width:auto;  height:auto;  position:absolute;  top:0;  left:20px;  }

#order_news .scl_write_order .scl_order_pay{  background:none;  }
#order_news .scl_write_order .scl_order_pay a.scl_last_state{  left:30%;  .  }
#order_news .scl_write_order .scl_order_pay a.scl_next_state{  right:30%;  }
























