#theme .main *{box-sizing: content-box; -webkit-box-sizing: content-box;-moz-box-sizing: content-box;-o-box-sizing: content-box;}
/*#theme .main a{display: block;}*/
#theme .banner {height: 615px;position: relative;}
#theme .banner > img{position: absolute;width:100%;height:100%;}
#theme .banner .banner_cen {position: absolute;width: 860px;height: 135px;background: url(../images/theme/banner_cen.png) no-repeat center center;top: 50%;margin-top: -67px;left: 50%;margin-left: -430px;}
#theme .banner .banner_cen h1 {font-size: 40px;line-height: 50px;color: #fff;margin: 15px 70px 15px 70px;text-shadow: 4px 3px 4px rgba(0,0,0,1);-webkit-text-shadow: 4px 3px 4px rgba(0,0,0,1);-moz-text-shadow: 4px 3px 4px rgba(0,0,0,1);-ms-text-shadow: 4px 3px 4px rgba(0,0,0,1);}
#theme .banner .banner_cen p {width: 550px;height: 36px;line-height: 36px;background: #f08300;border-radius: 20px;padding-left: 25px;text-align: center;position: absolute;bottom: -16px;left: 50%;margin-left: -233px;color: #fff;font-size: 16px;}
#theme .banner .banner_cen p span {margin-right: 35px;}
#theme .banner .banner_cen p span b {font-size: 22px;}
#theme .banner .no_num {height: 45px;line-height: 45px;background: #f08300;font-size: 16px;color: #fff;text-align: center;position: absolute;right: 60px; top:20px;padding: 0 10px;}
/*theme_nav*/
.t_n_box{height: 80px;margin: 20px auto;position: relative;z-index: 10;}
.theme_nav {width: 1080px;margin: 0 auto;height: 80px;line-height: 80px;font-size: 26px;position: relative;}
.fixed_tit2 .leftnav {width: 100%;height: 80px;background: #fff;position: fixed;top: 0;left: 0;z-index: 9;}
.fixed_tit2 {position: fixed;width: 100%;top: 0;background: #fff;margin-top: 0;}
.theme_nav #leftnav1 {width: 1080px;background: #535353;height: 80px;margin: 0 auto;}
.theme_nav #leftnav1 li {float: left;width: 216px;text-align: center;position: relative;letter-spacing: 5px;}
.theme_nav .stare {height: 80px;width: 180px;text-align: center;background: #f08300;position: absolute;z-index: 10;left: 899px;top: 0;}
.theme_nav a {color: #fff;font-size: 28px;display: block;}
.theme_nav #leftnav1 li span {border-bottom: 6px solid #f08300;width: 100px;display: block;position: absolute;bottom: 0;left: 50%;margin-left: -50px;display: none;}
.theme_nav #leftnav1 .on2 span {display: block;}
.theme_nav .fixed_t {width: 50px;height: 330px;position: absolute;left: -100px;top: 101px;}
.theme_nav .fixed_t #leftnav {width: 50px;background: #fff;height: 250px;}
.theme_nav .fixed_t #leftnav li {width: 50px;height: 50px;+line-height:0;}
.theme_nav .fixed_t #leftnav li a {display: block;width: 50px;height: 50px;color: #535353;text-align: center;font-size: 14px;}
.theme_nav .fixed_t #leftnav li a p {width: 30px;line-height: 18px;margin-left: 10px;+margin-left:0;padding-top: 7px;}
.theme_nav .fixed_t #leftnav .on a {color: #fff;background: #f08300;}
.fixed_tit {position: fixed;left: 50%;margin-left: -640px;top: 166px;width: 50px;}
.theme_same .theme_1_n {width: 1180px;height: 65px;margin: 20px auto;background: url(../images/theme/theme_bg.jpg) no-repeat;color: #828282;}
.theme_same .theme_1_n h3 {font-size: 32px;float: left;margin-left: 40px;line-height: 65px;font-weight: normal;}
.theme_same .theme_1_n span {font-size: 16px;float: left;margin-top: 35px;}
.theme_same .theme_1_n span em{margin: 0 8px;}
.theme_same .theme_1_n ul {float: right;margin-right: 20px;}
.theme_same .theme_1_n ul li {float: left;line-height: 65px;width: 130px;text-align: center;}
.theme_same .theme_1_n ul li a {color: #191919;}
.theme_same .theme_1_n ul .on a {color: #f90;}

.twos{position: relative;height: 534px;overflow:hidden;}
.main .twos .hd ul{position: absolute;bottom: 0px;width: 100%;/*height: 30px;*/text-align: center;z-index: 9;}
.main .twos .hd ul li {/*width: 16px;height: 16px;*/font-size:30px;color:#c0c0c0;display: inline;/*margin: 0 10px;*/cursor: pointer;}
.main .twos .hd ul li.on{color: #f08300 ;}
.main .twos .bd {left: 50%;margin-left: -975px;position: relative;clear: both;width: 2121px;}
.main .twos .bd ul li {width: 707px;height: 416px;overflow: hidden;}
.main .twos .bd ul li a{width: 100%;height: 100%;}
.neirong_js {height: 68px;overflow: hidden;text-indent: 2em; width: 888px;color: #666;position: absolute;bottom: 38px;line-height: 20px;left: 50%;margin-left: -447px;}
.neirong_js p {font-size: 14px;margin-top: 6px; height: 60px; width: 888px;text-align: justify;line-height: 20px;}
.more_fix {width: 180px;height: 416px;background: #f08300;position: absolute;top: 0;left: 50%;margin-left: -448px;z-index: 1;}
.more_fix a {width: 110px;height: 110px;line-height: 110px;text-align: center;margin: 0 auto;margin-top: 125px;border-radius: 100%;background: url(../js/ie-css3.htc);background: #fff;color: #f08300;font-size: 18px;display: block;text-decoration: none;}
.more_fix p {width: 130px;text-align: center;margin: 0 auto;color: #fff;line-height: 28px;margin-top: 70px;}
.more_fix p span {font-size: 22px;}
#show1 {width: 700px;height: 416px;position: absolute;top: 0;left: 50%;margin-left: -1147px;background: #f08300;opacity: 0.6;filter:Alpha(opacity=60);z-index: 1;}
#show2 {width: 700px;height: 416px;position: absolute;top: 0;right: 50%;margin-right: -1139px;background: #f08300;opacity: 0.6;filter:Alpha(opacity=60);z-index: 1;}


body{overflow-x: hidden; width: 100%;}

#theme_2 .return_xingcheng {width: 880px;margin: 0 auto;}
#theme_2 .return_xingcheng .return_xingcheng0 {width: 415px;border: 1px solid #d5d5d5;float: left;}
#theme_2 .return_xingcheng .return_xingcheng0 .return_xingcheng_1_1 {margin: 0 20px;border-bottom: 2px solid #d8d8d8;height: 75px;color: #1d2d3a;}
#theme_2 .return_xingcheng .return_xingcheng0 .return_xingcheng_1_1 h3 {float: left;font-size: 40px;line-height: 75px;}
#theme_2 .return_xingcheng .return_xingcheng0 .return_xingcheng_1_1 p {float: left;font-size: 20px;margin-top: 35px;margin-left: 10px;}
#theme_2 .return_xingcheng .return_xingcheng0 .reture_time {color: #474747;margin: 25px 20px 0;}
#theme_2 .return_xingcheng .return_xingcheng0 .reture_time span {display: block;width: 110px;height: 30px;line-height: 30px;text-align: center;background: #e6e6e6;border-radius: 10px;float: left;margin: 10px 30px 0 10px;}
#theme_2 .return_xingcheng .return_xingcheng0 .reture_time b {width: 100px;float: left;}
#theme_2 .return_xingcheng .return_xingcheng0 .reture_time p {float: left;width: 100%;line-height: 50px;position: relative;margin-bottom: 50px;}
#theme_2 .return_xingcheng .return_xingcheng0 .reture_time p strong {padding-left: 30px;}
#theme_2 .return_xingcheng .return_xingcheng0 .reture_time p i {background: url(../images/theme/feiji.jpg) no-repeat;width: 17px;height: 17px;display: block;position: absolute;top: 15px;}
#theme_2 .return_xingcheng .return_xingcheng_l {float: left;}
#theme_2 .return_xingcheng .return_xingcheng_r {float: right;}
#theme_3 {width: 1180px;margin: 0 auto;}
#theme_3 ul li {position: relative;width: 1180px;height: 520px;overflow: hidden;}
#theme_3 ul li a{width: 100%;height: 460px;position: relative;overflow: hidden;}
#theme_3 ul li .one_fix_9 {position: absolute;top: 45px;left: 96px;z-index: 1;}
#theme_3 ul li .one_fix_9 .one_fix_8 {background: url(../images/theme/fix_9.png) no-repeat;width: 296px;height: 64px;display: block;color: #fff;font-size: 30px;text-align: center;line-height: 64px;float: left;}
#theme_3 ul li .one_fix_9 .one_fix_7 {background: #f08300;width: 110px;height: 33px;display: block;float: left;line-height: 33px;color: #fff;margin-top: 15px;text-align: center;font-size: 18px;}
#theme_3 ul li .one_fix_9 .one_fix_7 i {background: url(../images/theme/sanjiao.png) no-repeat;width: 8px;height: 15px;position: absolute;top: 0;right: 102px;display: block;}
#theme_3 ul li a .max_img{width: 100%;height: 100%;}
#theme_3 ul li a .jianjie_c {position: absolute;bottom: 0;left: 60px;background: rgba(0, 0, 0, 0.5);color: #fff;border-radius: 10px 10px 0 0;width: 1060px;height: 100px;}
#theme_3 ul li a .jianjie_c span {width: 740px;display: block;line-height: 33px;font-size: 18px;margin-left: 35px;height: 68px;overflow: hidden;margin-top: 20px;}
#theme_3 ul li a .jianjie_c .samll_img {position: absolute;bottom: -25px;right: 42px;width: 224px;height: 185px;background: rgba(255,255,255,0.3);border-radius: 3px;border: solid 2px rgba(255,255,255,0.5);
	transform:rotate(11deg);
    -ms-transform:rotate(11deg);     /* IE 9 */
    -moz-transform:rotate(11deg);    /* Firefox */
    -webkit-transform:rotate(11deg); /* Safari 和 Chrome */
    -o-transform:rotate(11deg);      /* Opera */}
#theme_3 ul li a .one_day {width: 1120px;height: 100%;background: rgba(0, 0, 0, 0.9);background:#000;filter:Alpha(opacity=90);opacity: 0.9; position: absolute;left: 0;top: 0;padding: 0 30px;color: #fff;display: none;}
#theme_3 ul li a:hover .one_day {display: block;transition-duration: 1s;}
#theme_3 ul li .one_day .one_day_con {border: 1px solid #999;margin-top: 30px;}
#theme_3 ul li .one_day .one_day_con .one_day_con_t {padding: 15px 0 15px 65px;height: 64px;border-bottom: 1px solid #999;}
#theme_3 ul li .one_day .one_day_con .one_day_con_c {height: 205px;padding: 20px 20px;font-size: 14px;line-height: 18px;border-bottom: 1px solid #999;overflow-y: scroll;line-height: 25px}
#theme_3 ul li .one_day .one_day_con .one_day_con_c p:first-child {margin-bottom: 20px;}
#theme_3 ul li .one_day .one_day_con dl {height: 56px;line-height: 56px;overflow: hidden;}
#theme_3 ul li .one_day .one_day_con dl dd {width: 160px;text-align: center;font-size: 18px;float: left;border-right: 1px solid #999;}
#theme_3 ul li .one_day .one_day_con dl dd:last-child {width: auto;margin-left: 50px;border: none;}
#theme_3 ul li .one_day_down {height: 120px;color: #151212;line-height: 60px;}
#theme_3 ul li .one_day_down h3 {float: left;font-size: 24px;}
#theme_3 ul li .one_day_down>div {float: right;font-size: 15px;height: 18px;}
#theme_3 ul li .one_day_down>div span {float: left;}
#theme_3 ul li .one_day_down>div>ul li {float: left;padding-left: 35px;background: url(../images/theme/xingji.png) no-repeat;width: 18px;height: 19px;display: block;margin-top: 20px;}
#theme_4 .theme_4_1 {width: 1180px;margin: 0 auto;}
#theme_4 .theme_4_1 ul li > div {margin-bottom: 20px;padding: 0 30px;}
#theme_4 .theme_4_1 ul li h5 {font-size: 22px;line-height: 60px;}
#theme_4 .theme_4_1 ul li p {font-size: 14px;line-height: 20px;}
#theme_5 .theme_5_1 {
	border: 1px solid #dedede;
	width: 1178px;
	height: 606px;
	margin: 0 auto;
	margin-bottom: 35px;
	overflow: hidden;
}
#theme_5 .theme_5_1 .theme_5_1_l {
	margin: 14px;
}
.recommend .rem_1{width: 1180px;height: 65px;margin: 20px auto;background: url(../images/theme/theme_bg.jpg) no-repeat; color: #828282;}
.recommend .rem_1 h3{font-size: 32px;float: left;margin-left: 40px;line-height: 65px;font-weight: normal;}
.recommend .rem_1 span{font-size: 16px;float: left;margin-top: 35px;}
.recommend .rem_1 span em{margin: 0 8px;}
.recommend {width: 1178px;margin: 0 auto;}
.recommend  .rem_l{width: 417px;border: 1px solid #dedede;height: 615px;}
.hb_bootom_small.recommend .rem_l{height: 555px;}
.recommend  .rem_l .rem_l_1{width: 370px;height: 415px;margin: 0 auto;margin-top: 60px;padding-left: 50px;}
.recommend  .rem_l .rem_l_1 p,.recommend  .rem_l .rem_l_1 p span{font-size: 15px;line-height: 40px;}
.recommend  .rem_l .rem_l_1 p.p1{width: 100%;border-bottom: 1px solid #dedede;margin-bottom: -18px;margin-left: -30px;}
.recommend  .rem_l .rem_l_1 p.p2{display: block;width: 130px;text-align: center;margin: 0 auto;background: #fff;font-size: 24px;margin-bottom: 20px;margin-left: 88px;}
.recommend  .rem_l .rem_l_2{width: 370px;height: 60px;margin: 0 auto;margin-top: 30px;margin-bottom: 20px;}
.recommend  .rem_l .rem_l_2 p,.recommend  .rem_l .rem_l_2 p span{font-size: 16px;line-height: 25px;}
.recommend  .rem_l a.a_but{background: #f08300;color: #fff;padding: 3px 10px;border-radius: 5px;font-size: 28px;margin-left: 155px;display: initial;}
.recommend  .rem_l .rem_l_3{width: 370px;margin: 0 auto;padding-top: 50px;position: relative;overflow: hidden;}
.recommend  .rem_l .rem_l_3 p{font-size: 15px;line-height: 25px;}
.recommend  .rem_l .rem_l_3 p.p1{width: 100%;border-bottom: 1px solid #dedede;margin-bottom: -15px;}
.recommend  .rem_l .rem_l_3 p.p2{display: block;width: 130px;text-align: center;margin: 0 auto;background: #fff;font-size: 24px;margin-bottom: 10px;}

.recommend  .rem_l .rem_l_3 .rem_l_3_1{width: 370px;}
.recommend  .rem_l .rem_l_3 .rem_l_3_1 .bd{width: 370px;height: 500px;overflow: hidden;}
.recommend  .rem_l .rem_l_3 .rem_l_3_1 .bd ul{height: 550px;overflow: hidden;zoom: 1;overflow-y:scroll;}
.recommend  .rem_l .rem_l_3 .rem_l_3_1 .bd ul li{float: left;width: 100%;}
.recommend  .rem_l .rem_l_3 .rem_l_3_1 .bd ul li a{height: 40px;line-height: 40px;font-size: 16px;color: #666;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 100%;}
.recommend  .rem_l .rem_l_3 .rem_l_3_1 .bd ul li a i{font-size: 15px;float: left;width: 240px;
overflow: hidden;
text-overflow: inherit;}
.recommend  .rem_l .rem_l_3 .rem_l_3_1 .bd ul li a span{ float: right;color: #f08300;font-size: 20px;margin-right: 10px;}
.recommend  .rem_l .rem_l_3 .rem_l_3_1 .bd ul li:hover a span,.recommend  .rem_l .rem_l_3 .rem_l_3_1 .bd ul li.hb_xuan_curr a span{ color: #fff;}
.recommend  .rem_l .rem_l_3 .rem_l_3_1 .bd ul li:hover a,.recommend  .rem_l .rem_l_3 .rem_l_3_1 .bd ul li.hb_xuan_curr a{font-size: 18px;color: #fff;background: #f08300;width: 100%;}
.recommend  .rem_l .rem_l_3 .rem_l_3_1 .bd ul li:hover a i,.recommend  .rem_l .rem_l_3 .rem_l_3_1 .bd ul li.hb_xuan_curr a i{color: #fff;background: #f08300;font-size: 16px}
.recommend  .theme_5_1_l{width: 758px;height: 615px;border: 1px solid #dedede;border-left: none;}
.hb_bootom_small.recommend  .theme_5_1_l{height: 555px;}
.recommend  .theme_5_1_l .th1{height: 70px;margin-left: 100px;}
.recommend  .theme_5_1_l .th1 p{line-height: 25px;font-size: 15px;}
.recommend  .theme_5_1_l a.th2{background: #f08300;color: #fff;padding: 3px 10px;border-radius: 5px;font-size: 28px;margin-right: 300px;}
/*日历*/
#theme .c-day{width: 760px;}
#theme .c-day table {text-align: center;height: 480px;padding: 20px; border-spacing: 0;}
#theme .c-day thead{ width:720px;height: 56px;background: #444; color: #fff;}
#theme .c-day thead tr{height: 40px;}
#theme .c-day a.previous-month {float:left;height: 30px;line-height: 30px; background:url(../images/theme/month-pre.gif) left center no-repeat; padding:0 18px; color:#fff; background: #444;border-radius: 5px;}
#theme .c-day a.next-month {float:right;height: 30px;line-height: 30px; background:url(../images/theme/month-next.gif) right center no-repeat; padding:0 18px; color:#fff; background: #444;border-radius: 5px;}
#theme .c-day b.current-month {font-size::; 15px;font-weight:bold;color: #fff;}
#theme .c-day .title td{width: 58px;color: #fff;}
#theme .c-day tbody td{height: 70px;width:100px;text-align:left;vertical-align: top;font-size: 12px; background: #f2f8fc;border-right: 2px solid #fff;border-bottom: 2px solid #fff;}
#theme .c-day tbody td.hb_bg_color{background: #f08300;}
#theme .c-day tbody td div{color: #000;padding: 8px 0 0 8px;}
#theme .c-day tbody td:hover{background:#efefff;}
#theme .c-day tbody td.today_bgcolor{background: #edd;}
#theme .c-day tbody td .red{display: inline-block;font-size: 8pt;}

#showhtml_4 {width: 180px;height: 416px;position: absolute;top: 0;left: 50%;margin-left: -448px;background: #f08300;z-index: 2;}
#showhtml_5 {width: 700px;height: 416px;position: absolute;top: 0;left: 50%;margin-left: -1148px;background: #f08300;opacity: 0.6;z-index: 2;}
#showhtml_6 {width: 700px;height: 416px;position: absolute;top: 0;right: 50%;margin-right: -1139px;background: #f08300;opacity: 0.6;z-index: 2;}

